*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  max-width: 800px;  /* This sets the 'invisible' width */
  margin: 10px auto;   /* This centers the box on the page */
  padding-top: 50px;
  padding-left: 20px;
  border-top: 2px solid rgb(235, 231, 132);
  overflow: auto;
  display: flex;
  gap: 2rem; 

}

.container img {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.hero-section {
  height: 100vh;
  background: linear-gradient(
    135deg,
    #041E42 0%,
    #005F73 40%,
    #0A9396 70%,
    #041E42 100%
  );
}

p {font-family:'Verdana'; font-size:18px;color:rgb(235, 231, 132);}